# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/
*.egg

# Pytest
.pytest_cache/
htmlcov/
.coverage
.coverage.*
coverage.xml

# MyPy
.mypy_cache/
.dmypy.json

# Distribution
*.tar.gz
*.whl

# IDE
.vscode/
.idea/
*.swp
*.swo
